@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-center tracking-wide font-bebas font-light text-xl lg:text-2xl uppercase py-3 px-6 bg-primary-800 w-fit h-fit text-white rounded-sm hover:bg-primary-950 duration-300;
  }

  .btn-accent {
    @apply text-center tracking-wide font-bebas font-light uppercase py-3 px-6 w-fit rounded-sm duration-300 bg-primary-100 text-primary-950 text-xl hover:bg-primary-900 hover:text-white;
  }

  .btn-animate {
    @apply hover:before:bg-black/30 relative overflow-hidden px-3 text-white transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-black before:transition-all before:duration-300 hover:before:left-0 hover:before:w-full ease-in-out;
  }
  .btn-white {
    @apply text-center font-bebas text-4xl uppercase font-bold py-3 px-6 ring-1 ring-white w-fit bg-white/10 hover:bg-white/80 hover:ring-white/50 hover:text-primary-950 text-primary-50 rounded-sm duration-300;
  }

  .paragraph {
    @apply text-gray-600 lg:text-base leading-loose font-sans;
  }

  .tooltip {
    @apply invisible opacity-0 absolute rounded-sm shadow-md shadow-slate-800/50 bg-gray-50 text-center text-gray-800;
  }

  .has-tooltip:hover .tooltip {
    @apply visible opacity-95 transition-all duration-300 cursor-help;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply bg-gray-100 opacity-20 hover:opacity-70 duration-300 ease-in-out px-8 py-9;
  }

  p {
    @apply font-sans2;
  }

  .CTA-flight-bg {
    background-image: linear-gradient(to right, #a5acaf9f 0%, #a5acaf9f 100%),
      url(../assets/LAFA-CTA-bg.webp);
  }

  .welcome-bg {
    background-image: linear-gradient(to right, #a5acaf9f 0%, #a5acaf9f 100%),
      url(../assets/LAFA-welcome-inside-plane.webp);
  }

  .object-left-30 {
    object-position: 30%;
  }

  .object-left-40 {
    object-position: 40%;
  }

  .backdrop-blur-sm {
    backdrop-filter: blur(10px);
  }  

  .gallery-item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .fade-out {
    background-image:linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.1) 50%, black 100%), linear-gradient(to right, black 0%, transparent 10%, transparent 90%, black 100%), url(../assets/bg-clouds-from-above.webp);
  }

  .bg-financing {
    background-image: url(../assets/lafa-plane-cessna-172s-propeller-cropped.webp);
  }

  .bg-two-cessna {
    background-image:linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.1) 50%, black 100%), linear-gradient(to right, black 0%, transparent 10%, transparent 90%, black 100%), url(../assets/bg-clouds-from-above.webp);
  }

  /* * {
    border:1px solid red;
  } */
}
