---
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FinancingTabs from "../../components/FinancingTabs";
import CTAQuiz from "../../components/CTAQuiz.astro";
import CTAQuizData from "../../data/CTAQuiz";
---

<BaseLayout
  siteTitle="Financing | LA Flight Academy"
  siteDescription="Explore the financing options available to fund your flight training with LA Flight Academy. Leverage our partners to ensure finances don’t become the limiting factor in your path to becoming a pilot."
  keywords="Financing, loans, funding, Stratus, Avemco, Pilot Finance, support, student loans"
>
  <!-- Header -->
  <header
    class="relative h-[85vh] bg-financing bg-cover bg-top bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-8 px-5"
    >
      <h1 class="text-3xl md:text-5xl font-bold tracking-tight">
        How to Access Financing at Speedway Flight Training
      </h1>
      <h2 class="text-xl md:text-3xl tracking-wide">
        Helping our students fund their pilot training
      </h2>
      <div
        class="flex items-center gap-1 md:gap-5 bg-white/70 px-5 py-10 rounded-lg"
      >
        <img
          src="/src/assets/stratus-logo-2.webp"
          alt="Stratus Financial logo"
          class="h-6 sm:h-10 lg:h-16"
        />
      </div>
    </div>
  </header>

  <FinancingTabs client:load />

  <div class="my-8">
    <CTAQuiz content={CTAQuizData} />
  </div>

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
