---
import CareerFairForm from "./CareerFairForm.astro";
import ImageComp from "./ImageComp.astro";
---

<section
  class="relative h-screen z-10 bg-checkered bg-fixed text-accent-100 scroll-my-20 flex items-center justify-center lg:scroll-my-28"
>
  <div class="relative z-10 max-w-7xl p-8">
    <div class="w-full flex flex-col items-center">
      <h2 class="text-center text-3xl font-semibold uppercase py-5">Start Your Flying Journey</h2>
      <div class="bg-primary-800 w-48 h-1 mb-8"></div>
    </div>

    <div class="relative w-full rounded-lg py-8 px-12 overflow-hidden">
      <ImageComp
        imagePath="/src/assets/atlanta-airport-Speedway-Flight-Training-103.webp"
        imageAlt="Airplane flying above river"
        styles="absolute h-full w-full top-0 left-0 object-cover object-center -z-10 grayscale brightness-50"
      />
      <CareerFairForm />
    </div>
  </div>
</section>
