---
const { content } = Astro.props;
---

<section class="bg-primary-950 text-white w-[98%] mx-auto my-4 flex flex-col lg:flex-row justify-between items-center">
  <h2 class="text-4xl font-bold lg:p-20 p-5 max-w-full"
      set:html={content.header} 
  >
  </h2>
  <a class="btn-accent mb-5 lg:m-20 hover:bg-accent-600 hover:animate-pulse delay-100"
  href={content.button.link}
  set:html={content.button.text}
  ></a>
</section>