---
import { ADDRESS_CITY, ADDRESS_STATE, AIRPORT } from "../consts";
import ImageComp from "./ImageComp.astro";
const {imagePath, imageAlt, loading, styles, widths, sizes} = Astro.props;
---

<section
  class="relative h-screen overflow-hidden flex items-center justify-center md:justify-end p-0 m-0"
  aria-label="Speedway Flight Training, Atlanta Speedway Airport, Hampton, Georgia"
>

  {imagePath && (
    <div class="absolute -z-30 inset-0" aria-hidden="true">
      <ImageComp
        imagePath={imagePath}
        imageAlt="LA flight academy aircraft flying over Los Angeles, California"
        loading="eager"
        styles="object-cover h-full w-full object-left-30 lg:object-center contrast-125 animate-slow-zoom"
        widths={[540, 720, 1080, 1440, 1980, 2048, 2560, 2880, 3200, 3840]}
        sizes={`(max-width: 240px) 540px, (max-width: 540px) 720px, (max-width: 720px) 1080px, (max-width: 1080px) 1440px, (max-width: 1440px) 1920px, (max-width: 1980px) 2048px, (max-width: 2048px) 2560px, (max-width: 2560px) 2880px, (max-width: 2880px) 3200px, 3840px`}
      />
    </div>
  )}

  <div
    class="absolute h-full w-full bg-black/10 -z-20 inset-0"
    aria-hidden="true"
  >
  </div>
  <div class="flex flex-col justify-center px-4 md:pr-24 text-accent-100 text-center md:items-end md:text-right max-w-4xl h-full"
    data-aos="fade-left"
  >
    <h1
      class="text-6xl uppercase text-accent-100 font-sans2 md:text-7xl lg:text-8xl font-medium tracking-wide drop-shadow-md"
    >
      Fly Fast
    </h1>
    <h3
      class="text-2xl lg:text-4xl max-w-3xl mt-3 text-accent-100 font-semibold tracking-wide drop-shadow-md "
    >
      Accelerated Flight Training Programs in {AIRPORT || `${ADDRESS_CITY}, ${ADDRESS_STATE}`}
    </h3>
    <div class="pt-16 w-full flex justify-end items-center gap-8 md:gap-16">
      <a href="/discovery-flight" class="btn-primary ">Discovery flight</a>
      <a href="/path" class="btn-primary">More Info</a>  
    </div>
  </div>
</section>
