---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS, OG_IMAGE } from "../consts";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/roboto-slab";
import "@fontsource/bebas-neue";
import "@fontsource-variable/quicksand";
import "@fontsource-variable/tourney";
import '@fontsource/zilla-slab';
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, keywords, ogImage } = Astro.props;
import Banner from "../components/Banner.astro";
import 'aos/dist/aos.css';

---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      keywords={keywords || KEYWORDS}
      image={ogImage || OG_IMAGE}
    />
  </head>
  <body class="font-sans2 bg-white">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV9ZQVKS"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
    <Banner />
    <Navbar pathname={pathname} client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <ChatWidget /> -->
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
